<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <b>
          {{homeCtrl.headerContent.boldTitle}}
        </b>
        {{homeCtrl.headerContent.title}}
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#/products">
            {{homeCtrl.headerContent.products}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
